<div class="col-md-12">
<h3>Taxonomy - {{isEdit? "Edit" : "Create"}}</h3>
<form (ngSubmit)="onSubmit()"   [formGroup]="taxonomyeditForm" >
 <div class="form-group">
   <label for="type">Type</label>
   <input  id="type" type="text" class="form-control" formControlName="type" />
 </div>
 <div class="form-group">
    <label for="code">Code</label>
    <input  id="code" class="form-control" type="number" formControlName="code" />
  </div>
  <div class="form-group">
      <label for="desc">Description</label>
      <input  id="desc" class="form-control" formControlName="description"/>
  </div>
  <div class="form-group">    
      <input name="activate"  type="radio" [value]="true" [checked]='true'  class="form-check-input" formControlName="activate" >Active 
      <input name="activate" type="radio" [value]="false"  class="form-check-input" formControlName="activate" />Inactive
  </div>
  <hr>
  <button class="btn btn-success" type="submit">Save</button>
  <button class="btn btn-default" routerLink="../" >Cancel</button>
</form>
</div>
